body{background-image: url("fon.jpg")}
h1{font-size:36px; text-align: center; color:сюда код цвета;}
p{text-align: justify; font-size: 20px;}
table{width: 80%; font-size: 24px;}
td{text-align: center;}
.hzkakpodrugomu a{font-size: 24px; text-align: center;}
.hzkakpodrugomu{text-align:center;}